*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: #222;
    color: #fff;
    display: grid;
    grid-template-rows: 100px auto 100px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-height: 100vh;
    max-height: 100vh;
}
form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}
.input{
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
}
.input:focus{
    outline: 2px solid #09f;
}
.button{
    background-color: #09f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding-inline: 1rem;
    transition: all .2s ease-in;
}
.button:hover{
    background-color: color-mix(in srgb, #09f, #000 20%);
}
.button:active{
    background-color: color-mix(in srgb, #09f, #000 40%);
}
.list-task{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.task{
    min-width: 400px;
    width: fit-content;
    height: min-content;
    padding: 1rem;
    border-radius: 16px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task p{
    background-color: #444;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task p i{
    background-color: #09f;
    width: 18px;
    height: 18px;
    border-radius: 100px;
}