*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --bg: #fff;
    --input: #ccc;
    --color: #222;
}
.dark-theme{
    --bg: #222;
    --input: #444;
    --color: #fff;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 14%;
    margin-top: 4rem;
    gap: 1rem;
    min-height: 100vh;
    max-height: 100vh;

    background-color: var(--bg);
    color: var(--color);
}
form{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}
.input{
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: var(--input);
    color: #fff;
}
.input:focus{
    outline: 2px solid #09f;
}
.button{
    background-color: #09f;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding-inline: 1rem;
    transition: all .2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: color-mix(in srgb, #09f, #000 20%);
}
.button:active{
    background-color: color-mix(in srgb, #09f, #000 40%);
}
.list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-height: 80vh;
    margin-bottom: 4rem;
}
@media (max-width: 600px){
    .list{ grid-template-columns: 1fr; }
}
.list h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.list-task-complete, .list-task-pending{
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border-radius: 16px;
    background-color: #ffffff10;
}
.list-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
.column-reverse { flex-direction: column-reverse !important; }
.task{
    width: 100%;
    height: min-content;
    padding: 1rem;
    border-radius: 16px;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.icon { color: #f14f4f; }
.icon:hover{
    transition: all .2s ease-in;
    color: color-mix(in srgb, #f14f4f, #000 20%);
}
.task h4{
    font-weight: 400;
    opacity: .75;
}
.task p{
    background-color: #222;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task p i{
    background-color: #09f;
    width: 12px;
    height: 12px;
    border-radius: 100px;
}
.show { display: flex; }
.hide { display: none; }

/* -- MENU -- */
.menu-open{
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #555;
}
.drawer{
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
    padding-block: 2rem;
    box-shadow: -10px 0px 18px rgba(0, 0, 0, 0.35);

    transition: all .35s ease-in;
    transform: translateX(100%);
}
.drawer a{
    color: #ccc;
    text-align: center;
    width: 100%;
    padding: 1rem 2rem;
    transition: all .2s ease-in;

    &:active { background-color: #444; }
}