header{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14%;
}
.search-sector{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.searchbar { position: relative; }
.searchbar .icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.search-sector input{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-inline-start: 32px;
    transition: all .2s ease-in;
    width: 200px;
    max-width: 100%;
}
.search-sector input.searching{
    outline: 2px solid #000;
    width: 300px;
}
nav{
    display: flex;
    gap: 1rem;
}
nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: #222;
    opacity: .75;

    span{
        font-size: 0.8rem;
    }
}
.select{
    opacity: 1;
}
.image-user{
    min-width: 24px;
    height: auto;
    border-radius: 20px;
}
.border-user{
    border: 5px solid #000;
}
.bg-searching{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #00000090;
}
.autocompleter{
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000010;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-complete{
    width: 100%;
    color: #111;
    font-weight: bold;
    padding: 1rem;
    transition: all .2s ease-in;

    &:hover{
        background-color: #00000020;
    }
}
.recientes{
    color: #333 !important;
}